.b-form-control__textarea
  .ace_editor
    min-height: 400px;

  textarea
    border: none;
    outline: none;
    width: 100%;
    font-size: inherit;
    font-familiy: inherit;
    line-height: 20px;
    min-height: 100px;
    padding: 6px 8px;
    box-shadow: $form-control-shadow;

    &:focus
      box-shadow: $form-control-focus-shadow;