.b-btn
  display: inline-block;
  cursor: pointer;

.b-btn__size_l
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  padding: 0 40px;

.b-btn__size_m
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0 40px;

.b-btn__size_s
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding: 0 30px;

.b-btn__skin_red
  border-radius: 5px;
  background: $color-medium-red;
  color: #fff;
  text-transform: uppercase;
  transition: background .5s;

  &:hover
    background: $color-light-red;
