.b-header
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  background: url('landing/header-bg2.jpg') no-repeat top center;
  background-size: cover;

  &::after
    content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background: rgba(#000, 0.8);

  .container
    position: relative;
    z-index: 2;
    text-align: center;

.b-header_title
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 40px;

  &::after
    content: ''
    background: #fff;
    height: 2px;
    width: 310px;
    display: block;
    margin: 40px auto 0;

  small
    display: block;
    font-size: 46px;
    font-weight: normal;

.b-header_sub-title
  font-size: 70px;
  margin: 0 auto;
  margin-bottom: 50px;

  strong
    display: block;
    font-weight: bold;
    margin-top: 8px;
    text-transform: uppercase;

.b-header_desc
  display: block;
  margin: 20px auto 60px;
  max-width: 700px;
  font-size: 24px;
  line-height: 30px;

.b-header_btn-more
  @extend .b-btn;
  @extend .b-btn__skin_red;
  @extend .b-btn__size_l;