.b-tariff
  width: 280px;
  background: #eee;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 5px 2px rgba(#000, 0.15);

.b-tariff__sale
  .b-tariff_price
    color: $color-medium-red;

.b-tariff_title
  font-size: 20px;
  padding: 0 0 20px;
  margin: 0 -20px 30px;
  border-bottom: 1px dashed #ccc;
  // font-weight: bold;

.b-tariff_price
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px;

.b-tariff_old-price
  text-decoration: line-through;
  font-size: 22px;
  margin: 0 0 10px;

.b-tariff_btn-request
  display: block;
  width: 140px;
  margin: 0 auto;
  @extend .b-btn;
  @extend .b-btn__size_s;
  @extend .b-btn__skin_red;

.b-tariff_more
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px dashed #000;
  margin-bottom: 20px;

.b-tariff_text
  font-size: 14px;
  color: #999;
  margin: 0 0 20px;
  line-height: 20px;
