.b-form-control__textarea
  textarea
    border: none;
    outline: none;
    width: 100%;
    font-size: inherit;
    font-familiy: inherit;
    line-height: 20px;
    min-height: 100px;
    padding: 6px 8px;
    box-shadow: 0 0 5px rgba(#000, 0.05);

    &:focus
      box-shadow: 0 0 5px rgba(#000, 0.1);