.b-page-side
  // background: $color-black;
  height: 100%;
  background: #fff;
  box-shadow: $panel-shadow;
  // color: #fff;
  color: $color-black;

  &_nav
    a
      display: block;
      padding: 0 20px;
      height: 45px;
      line-height: 45px;
      // height: 100%;
      font-weight: 500;
      text-transform: uppercase;

      &.is-active,
      &:hover
        background: $color-light-gray;

      &.is-disable
        opacity: 0.5;
        pointer-events: none;