$black-color      = #494947;
$light-gray-color = #f4f4f4;
$dark-gray-color  = #ccc;
$green-color      = #87a254;
$red-color        = #c12b3a;

$panel-shadow = 0 0 5px rgba(#000, 0.08);

@import 'kouto-swiss';

@require 'common/mixins';

@require 'admin/base';
@require 'admin/blocks/**/*';
@require 'admin/pages/**/*';