$color-black      = #494947;
$color-light-gray = #f4f4f4;
$color-dark-gray  = #ccc;
$color-green      = #87a254;
$color-red        = #c12b3a;

$panel-shadow = 0 0 5px rgba(#000, 0.1);

@import 'kouto-swiss';

@require 'common/mixins';

@require 'main/base';
@require 'main/vendor/flatpickr';
@require 'main/blocks/**/*';
@require 'main/pages/**/*';